.left-block {
	display: inline-block;
	width: 200px;
	border-color: #333;
	float: left;
	text-align: left;
	padding: 0;
}

.left-block a img {
	width: 200px;
	height: 200px;
}

.right-block {
    font-size: 12px;
	display: inline-block;
	width: 400px;
	border-color: #033;
	float: right;
}

.form-group {
    text-align: right;
}

.form-group label{
    margin-right: 20px;
    width: 180px;
}

.form-group select {
    width: 196px;
}

#attachmentEdit .form-group input,#attachmentEdit .form-group textarea {
    width: 270px;
}

.bottom {
	width: 650px;
	position: relative;
	top: 10px;
	left: 50%;
	margin-left: -325px;
}

form input, form select, form textarea {
	padding: 6px 12px;
	font-size: 14px;
	line-height: 1.42857143;
	color: #555;
	border: 1px solid #ccc;
	border-radius: 4px;
}

form label {
	margin: 0;
	display: inline-block;
	width: 80px;
}

#birthday {
	width: 196px;
}

.full {
	width: 200px;
	height: 50px;
	margin-top: 10px;
}

.phones {
	height: 300px;
}

.attachments {
	height: 300px;
	margin-top: 60px;
	margin-bottom: 70px;
}

.bottom .btn-group {
	float: right;
}

.bottom .btn {
	margin-top: 10px;
	margin-bottom: 5px;
}

.table {
	height: 300px;
	width: 100%;
	margin: 0;
	padding: 0;
	overflow-y: scroll;
	overflow-x: hidden;
	border: 1px solid #ccc;
	border-radius: 4px;
}

th, td {
	height: 34px;
}

.number {
	width: 30px;
}

.check  {
    text-align: center;
	width: 20px;
}

.phoneNumber div {
	width: 150px;
}

.description div {
	width: 100px;
}

.fileName div {
	width: 150px;
}

.date div {
    width: 100px;
}

.comment div{
    width: 300px;
}

.table div {
    margin: 0;
    padding: 0;
    display: block;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.date {
	width: 100px;
}

.textarea {
	height: 100%;
}

#formFiles {
	display: none;
}

.popupPhoneDiv{
    width: 230px;
    margin-left: -115px;
}

.hidden {
    visibility: hidden;
}