.error p {
	color: #900;
}

#on {
	background-color: #ffcc00;
}

table {
	background-image: none;
	border: 1px solid #ccc;
	border-radius: 4px;	
}

.smallFont {
	font-size: 12px;
}

.inputError {
    border-color: red;
    color: red;
}

.container {
    min-width: 800px;
}

.main {
    width: 650px;
    position: relative;
    top: 10px;
    left: 50%;
    margin-left: -325px;
}

textarea {
    resize: none;
}

.popup {
    padding: 5px 15px 15px;
    position: fixed;
    width: 300px;
    top: 100px;
    left: 50%;
    margin-left: -150px;
    display : none;
    overflow: hidden;
    border: 1px solid #ccc;
    background: #fff;
    border-radius: 15px;
    z-index: 100;
}

.popup h2 {
    font: bold 18px/32px Arial, san-serif;
}

.popup a {
    width: 16px;
    height: 16px;
    display: block;
    text-indent: -9999px;
    position: absolute;
    top: 10px;
    right: 10px;
    background: url(../images/close.png) no-repeat;
}

.popup input, .popup select, .popup textarea {
    float: left;
    margin-bottom: 10px;
}

#overlay {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    display: none;
    background: #000;
    opacity: .8;
}

.errorLabel {
    color: red;
    display: block;
    width: 200px;
    float: none;
}

.messageLabel {
    color: #1834f9;
    display: block;
    width: 200px;
    float: none;
}

.template-list>div {
    width: 45%;
    float: left;
    margin-top: 10px;
}