.center {
	width: 600px;
	position: absolute;
	left: 50%;
	margin-left: -400px;
}

.to-right {
	float: right;
}

.to-left {
    float: left;
}

.to-center {
    width: 100%;
    float: right;
    text-align: center;
}

.btn-group {
	margin-top: 10px;
	margin-bottom: 5px;
}

a.disabled {
    pointer-events: none;
    cursor: default;
    color: #999;
}

.check {
    text-align: center;
    width: 20px;
}

.fullName div {
    width: 190px;
}

.date {
    width: 170px;
}

.address div {
    width: 190px;
}

.company div {
    width: 190px;
}

.table div {
    margin: 0;
    padding: 0;
    display: block;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.table td {
    height: 39px;
}

.filter {
    margin-top: 10px;
}

.filter a{
    display: inline-block;
    padding: 5px 14px;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 15px;
    pointer-events: none;
    cursor: default;
    color: #999;
    text-decoration: none;
    box-sizing: border-box;
    text-align: -webkit-match-parent;
    list-style: none;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 14px;
    line-height: 1.42857143;
}

.filter button{
    float: right;
}

.filter div {
    float: left;
    width: 89%;
    text-align: left;
}