.main, .bottom {
    margin-top: 10px;
    margin-bottom: 20px;
    width: 700px;
    position: relative;
    top: 10px;
    left: 50%;
    margin-left: -350px;
}

.leftForm {
    float: left;
    width: 350px;
    margin: 0;
    padding: 10px;
    text-align: right;
}

.rightForm {
    float: right;
    width: 350px;
    margin: 0;
    padding: 10px;
    text-align: left;
}

form input, form select, form textarea {
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    border: 1px solid #ccc;
    border-radius: 4px;
    width: 200px;
    margin: 0px;
    height: 34px;
}

.footer {
    text-align: center;
}